* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

.header-left-menu {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.header-right-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left-ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    margin-left: 0.75em;
    gap:25px;
}

.header-right-ul {
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    margin-right: 0.75em;
    gap:25px;
}

.header-left-link {
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
}

.app-icon {
    opacity: 0.5;
    vertical-align: middle;
    margin-top: 0.30em;
}

.btn-primary {
    background-color: #4285f4;
    color:white;
    border-radius: 3px;
    font-weight: bold;
    width: 70px;
    height: 30px;
    border: none;
    margin-top: 0.30em;
    margin-right: 1.5em;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -27rem;
}

.logo-main {
    display: flex;
    align-items: center;
    width: 272px;
    height: 92px;
}

.search-bar {
    border-radius: 25px;
    width: 583px;
    height: 44px;
    border: 1px solid lightgray;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar:hover {
    box-shadow: -4px -3px 15px -5px rgba(179,179,179,1);
}

.search-text {
    border: none;
    outline: none;
    width: 468px;
    height: 33px;
    margin-left: 10px;
}

.search-img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-left: 10px;
}

.keyboard-img {
    margin-right: 1.5em;
    margin-left:0.25em
}

.keyboard-img:hover {
    cursor: pointer;
}

.microphone-img {
    height: 20px;
    display: flex;
    margin-right: 1.5em;
}

.microphone-img:hover {
    cursor: pointer;
}

.btn-search, .btn-lucky {
    border: none;
    outline: none;
    border-radius: 3px;
    height: 36px;
    color: #5f6368;
    background-color: #f2f2f2;
    width: 120px;
    margin-top: 30px;
}

.btn-search:hover, .btn-lucky:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222222;
    cursor: pointer;
}

.search-down-text {
    margin-top:20px;
    font-size: 14px;
    display: inline;
}

.search-down-text > a {
    text-decoration: none;
}

.footer-info {
    display: flex;
    align-items: center;
    color: #5f6368;
    border-bottom: 1px solid #e4e4e4;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: #f2f2f2;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.footer-menu-left {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
    padding: 10px 0 10px 30px;
    background-color: #f2f2f2;
}

.footer-menu-right  {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
    padding: 10px 0 10px 30px;
    background-color: #f2f2f2;
    padding: 10px 30px 10px 0px;
}

.footer-menu > ul > li > a {
    text-decoration: none;
    color: #5f6368;
    font-size: 12px;
}

.menu-hover:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-left-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.app-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.btn-primary:hover {
    cursor: pointer;
}